/*have the plant background stretch across the screen and repeat when scrolling*/
html {
  background-image: url(plant-background.jpg);
  background-size: 100%;
  font-family: "Cambria";
  font-size: 16;
  }

header {
  padding-top: 5px;
  padding-bottom: 2px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  text-align: center;
}

body {
}

.plant-table {
  text-align: left;
}

.cartoon {
  text-align: center;
}

h1 {
  font-family: "Perpetua Titling MT"
}

h3 {
  padding: 10px;
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  border-radius: 5px;
}

p, .references {
  padding: 15px;
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  border-radius: 5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgba(121,210,121,0.8);
}

tr:nth-of-type(even) {
  background: white;
}

th {
  background-color: white;
}

th, td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: left;
}

/*
Attempting to make the table responsive by forcing the table elements to be block-level at a certain screen width
https://css-tricks.com/responsive-data-tables/
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px){

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    /*hide table headers*/
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /*behave like a row*/
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /*Now like a table header*/
    position: absolute;
    /*top/left values mimic padding*/
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*label the data*/
  td:nth-of-type(1):before { content: "Plant Name";}
  td:nth-of-type(2):before { content: "Water";}
  td:nth-of-type(3):before { content: "Sunlight";}
  td:nth-of-type(4):before { content: "Preferred Soil";}
  td:nth-of-type(5):before { content: "Toxic to Cats?";}
  td:nth-of-type(6):before { content: "Notes";}
}
